@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap");

* {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  background-color: rgb(17, 20, 34);
  line-height: 1.4;
  overflow-y: scroll;
}

button {
  cursor: pointer;
}

div[role="group"][tabindex] {
  flex: 1;
}
