.Dot1 {
  width: 25px;
  height: 25px;
  background-color: #f10079;
  border-radius: 50%;
  position: absolute;
  opacity: 0.7;
}

.Dot2 {
  width: 25px;
  height: 25px;
  background-color: #333;
  border-radius: 50%;
  position: absolute;
  margin-left: 15px;
  opacity: 0.7;
}
