.Spinner {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Star {
  position: relative;
  width: 30px;
  height: 30px;
}

.DoubleBounce1,
.DoubleBounce2 {
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: bounce 2s infinite ease-in-out;
  fill: #800020;
}

.DoubleBounce2 {
  animation-delay: -1s;
}

.ring {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute;
  width: 80px;
  height: 80px;
  border: 6px solid #800020;
  border-radius: 50%;
  opacity: 0.6;
  animation: spin 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #800020 transparent transparent transparent;
}

.ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(2);
  }
}
